body{
    font-family: "Roboto", sans-serif;

    font-size: 16px;
    line-height: 1.6;
    color: #727272;
    background-color: #EEEFF1;
}

* {
    margin: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #EEEFF1;
    width: 100%; 
    margin: 0px auto;
    
}

.header {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    height: 100%;
    justify-content: space-evenly;
}

.header__conteiner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    max-width: 1120px;
    margin:60px auto ;
}

/*навигация сайта*/
.wd-logo {
    width: 96px;
    height: 50px;
}

.menu__navigation {
    display: inline-block;
    vertical-align: top;
    margin: 5px 25px;
    font-weight: 200;
    letter-spacing: 1px;
    align-items: center ;
    color: #000000;
    text-decoration: none;
    transform: color .2s linear;
}

.menu__navigation:hover {
    color: #34547A;
}

/************************************************/

/*ДИЗАЙН И ВЕРСТКА*/
.intro { 
    width: 100%;
    height: 550px;
    background-color: #EEEFF1;
}

.intro__conteiner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 450px;
    max-width: 1120px;
    margin:60px auto ;  
}

.img__intro {
    margin: 30px 50px; 
}

.intro_link {

    margin: 0px 0px 0px 101px ;
    width: 800px;
    height: 250px;
   
}

.design-link__text   { 
    margin: 0px 0px 50px;
    font-weight: bold;
    font-size: 48px;
    color: black;

}

.design-link__lorem {
    width: 500px;
    margin: 0px 0px 50px;
}

#design-button{
    background: #34547A;
}

.design-link__button {
    
    color:white;
    width: 225px;
    height: 65px;
    border: none;
}


/*обо мне*/

.information {
    background-color: white;
}

.information__conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    max-width: 1120px; 
    margin:0px auto ; 
    background-color: white;
}

 .information__text {
    text-align: center;
    width: 540px;
    height: 200px;
} 

.information__about-me {
    text-align: center;
    font-weight:bold ;
    font-size: 32px;
    color: black;
    margin: 10px 0px 40px;
}


/*карточки проект*/

.proect {
    background-color: #34547A;
}

.proect__conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    flex-wrap: wrap;
}

.progect__line{
    margin: 0px 20px;
    width: 141px;
    height: 51px;
}



/*скилл*/

.skills {
    width: 100%;
    height: 650px;
    background-color: white;
}

.skills__conteiner {
    display: flex;
    justify-content: space-between;
    width: 100%;

    max-width: 1120px;
    margin:100px auto ;  
}

.skills__knowledge {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 70px 0px   ;
}   

.skills__title {
    font-weight:bold ;
    font-size: 32px;
    color: black;
    margin: 0px 0px 40px;
}

.skills__scale-one {
    margin: 20px 0px;  
    width: 445px;
    height: 4px;
    background-image: linear-gradient(50deg, #34547A 70%, #EEEFF1 50% );
}

.skills__scale-two {
    margin: 20px 0px;
    width: 445px;
    height: 4px;
    background-image: linear-gradient(50deg, #34547A 50%, #EEEFF1 50% );
}
.skills__scale-three {
    margin: 20px 0px;
    width: 445px;
    height: 4px;
    background-image: linear-gradient(50deg, #34547A 79%, #EEEFF1 50% );
}

.skills_img {
    width: 500px;
    height: 400px;
}


/*работа и код*/

.code {
    width: 100%;
    height: 1004px;
    background-color: #EEEFF1;
    
}

.code__conteiner{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1120px;
    height: 950px;
    margin:0px auto ; 
 }   

.code__title {
    font-weight:bold ;
    font-size: 32px;
    color: black;
    margin: 80px 0px 40px;
}

.code__lorem {
    text-align: center;
    width: 540px;
    height: 67px;
    margin: 0px 0px 60px;
} 


.code__video {
    position: relative;  
    }
        
.code__img {
    max-width: 1110px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    }
        
.code__start {
    height: 20%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    

/*планирование*/

.record {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    place-self: center;
    padding-bottom: 100px;
    }
    
.record__img-a{
    width: 100%;
    height: 100%;
    position: relative;
    }
    
.record__img {
    max-width: 480px;
    max-height: 480px;
    width: 100%;
    height: 100%;
    }
    
.record__img-a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('img/Group.png') no-repeat center center;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.4s ease;
    }
    
.record__img-a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(52, 84, 122, .8);
    opacity: 0;
    transition: opacity 0.4s linear;
   }
    
.record__img-a:hover:before,
.record__img-a:hover:after {
    opacity: 1;
    }
    


/*хотите веб сайт*/
.review {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 540px;
    width: 100%;
    align-self: center;
    padding-bottom: 100px;
}

.review__conteiner {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:20px auto ; 
}


.review__title {
    text-align: center;
    font-weight:bold ;
    font-size: 32px;
    color: black;
    margin: 80px 0px 40px;
}

.review__lorem {
    text-align: center;
    width: 540px;
    height: 67px;
    margin: 0px 0px 60px;
} 

.review__input {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.review__input input[type=text] {
    height: 24px;
    font-size: 15px;
    padding-left: 25px;
}

.review__one {
    width: 255px;
    height: 50px;
    border: none;
    margin: 0px;
}

.review__sms {
    width: 540px;
    height: 175px;
    border: none;
    margin: 0px 0px 20px;
}

.review__sms input[name="code"] {
    height: 175px;
    font-size: 15px;
    padding-left: 25px;
}

.review__sms {
   margin: 20px 0px;
   height: 200px;
   width: 97%;
   border: none;
}

.review__button {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 100px;
    margin: 50px;

}

.review__button-two { 
    color:white;
    width: 225px;
    height: 65px;
    border: none;
}


/*конец*/

.footer {
    background-color: 
    #34547A;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    height: 151px;
}

.footer__conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    max-width: 1120px;  
    margin:25px auto ;
}

.footer__creator {
   margin:0px 0px 15px; 
}

.footer__creator-text{
    font-size: 13px;
}
.footer__img {
    width: 175px;
    height: 40px;
}


@media (max-width: 1279px) {

    * {
        font-size: 10px;
        line-height: 19.2px;
        color: #727272;
    }

    /*шапка*/
    .header {
        height: 50px;
    }

    .header__conteiner {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: center;
        margin: 0px;
    }

    .header__logo {
        margin: 0px 20px;
        height: 100px;
    }

    .wd-logo{
        width: 70px;
        height: 30px;
    }
    

    .menu__navigation {
        display: none;
    }
  /*дизайн и верстка*/

  .intro {
    height: 350px;
  }

   .design-link {
        padding-bottom: 50px;
        max-width: 322px;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-bottom: 100px;

        margin: 0px ;
        width: 800px;
        height: 250px;
       
        top: auto;
        width: 200px
     }

     .design-text {
        width: 400px;
        height: 250px;
        font-size: 10px;
    }

    .design-link__text { 
        font-weight: bold;
        font-size: 20px;
        margin: 0px 0px 20px;
    
    }

    .design-link__lorem {
        width: 300px;
        margin: 0px 0px 20px;
    }


     .text_lorem {
        text-align: center;
        width: 300px;
        margin: 0px 0px 20px;
     }

     .design-link__button    { 
        width: 150px;
        height: 50px;
     }

    .intro__conteiner {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;       
 
    }
    
    .img__intro {
        display: flex;
        justify-content: center;
        margin:0px; 
        
    }

    .computer{
        width: 170px;
        height: 120px; 
        margin-top: -150px;
    }
    
    /*обо мне*/

    .information__conteiner {
        height: 200px;
    }

    .information__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .information__about-me {
        font-size: 20px;
        height: 0px;
        margin: 0px 0px 50px;
    }

    .information__lorem {
        width: 300px;
    }

    /*проект карточки*/

    .progect__line{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr ;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        place-self: center;

        width: 80px;
        height: 30px;
    }

    /*мои навыки*/

    .skills__conteiner{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 0px auto;
    }

    .skills__title {
        font-size: 20px;
        margin: 0px 0px 40px;
    }
    
    .skills__scale-one {
        margin: 10px 0px;  
        width: 300px;
        height: 2px;
    }
    
    .skills__scale-two {
        margin: 10px 0px;
        width: 300px;
        height: 2px;
    }
    .skills__scale-three {
        margin: 10px 0px;
        width: 300px;
        height: 2px;
    }

    .skills_img {
        width: 300px;
        height: 250px;
    }

    /*работа и код*/
    .code {
        width: 100%;
        background-color: #EEEFF1;
    }

    .code__conteiner {
        height: 550px;
    }

    .code__title {
        font-weight: bold;
        font-size: 20px;
        color: black;
        margin: 40px 0px 40px;
    }

    .code__lorem {
        width: 300px;
    }


    /*планирование*/

    .record {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        place-self: center;
        /* padding-bottom: 100px; */
    }


    /*хотите веб сайт*/
    .review__conteiner{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0px auto;
        padding: 0px;
    } 

    .review {

        max-width: 540px;
        width: 100%;
        align-self: center;
        padding-bottom: 0px;
    }

    .review__title {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        color: black;
        margin: 40px 0px 40px;
    }

    .review__lorem {
        text-align: center;
        width: 300px;
        height: 67px;
        margin: 0px 0px 40px;
    }

    
    .review__input {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .review__input input[type=text] {
        font-size: 10px;
    }
    
    .review__sms {
        margin: 20px 0px;
        height: 200px;
        width: 100%;
    }

    .review__button-two {
        width: 150px;
        height: 40px;
    }

    

    /*footer*/

    .footer__logo {
        margin: 0px 15px;
    }
  
    .footer__creator {
        color: white;
        font-size: 13px;
        margin:0px 0px 15px; 
     }
     
     .footer__creator-text {
        color: white;
         font-size: 8px;
     }

    .footer__img {
        width: 100px;
        height: 20px;
        margin: 0px 15px;
    }

}
